body {
    background-image: url("/images/home_background.png");
}

.wrapper {
    margin: 0 auto;
    margin-top: 20px;
}

.header {
    z-index: 1;
    text-align: center;
    font-family: Consolas;
    font-style: oblique;
    color: #313131;
    font-size: 60px;
    font-weight: bold;
    -webkit-animation: colorchange 22s infinite alternate;
}

.teaser {
    z-index: 2;
    margin-top: 60px;
    text-align: center;
    height: 450px;
    left: 50%;
}

.welcome {
    z-index: 3;
    text-align: center;
    font-family: Consolas;
    font-size: 20px;
    color: rgb(241, 191, 24);
    border: thick;
}

.twitter {
    z-index: 4;
    text-align: center;
    margin-top: 10px;
    font-family: Consolas;
    font-size: 20px;
    color: forestgreen;
    border: thick;
    text-shadow: 1px 1px darkorange;
}

.itch {
    z-index: 6;
    text-align: center;
    margin-top: 10px;
    font-family: Consolas;
    font-size: 20px;
    color: red;
    border: thick;
    text-shadow: 1px 1px darkgreen;
}

a:hover{
    color:orangered;
}


#image {
    height: 400px;
    width: 600px;
    margin-left: -300px;
    left: 50%;
    position: fixed;
}

@-webkit-keyframes colorchange {
    0% {
        color: black;
    }

    10% {
        color: darkblue;
    }

    20% {
        color: darkcyan;
    }

    30% {
        color: darkgreen;
    }

    40% {
        color: rgb(236, 179, 35);
    }

    50% {
        color: darkorange;
    }

    60% {
        color: rgb(240, 218, 18);
    }

    70% {
        color: rgb(214, 40, 214)
    }

    80% {
        color: rgb(136, 125, 207);
    }

    90% {
        color: rgb(73, 164, 170);
    }

    100% {
        color: black;
    }
}